export RESUME_CHECKPOINT="latest"
export CHECKPOINTING_STEPS=5
export NUM_INSTANCE_IMAGES=253 #@param {type:"integer"}
export LEARNING_RATE=6e-8 #@param {type:"number"}

# Configure these values.
export MODEL_NAME="stabilityai/stable-diffusion-2-1"
export INSTANCE_PROMPT="lotr style "
#export MODEL_NAME="/notebooks/datasets/models/pipeline"
export BASE_DIR="/notebooks/datasets"
export INSTANCE_DIR="${BASE_DIR}/training_data"
export OUTPUT_DIR="${BASE_DIR}/models"

#export MAX_NUM_STEPS=$((NUM_INSTANCE_IMAGES * 80))
#export MAX_NUM_STEPS=10000
export NUM_EPOCHS=4
export LR_SCHEDULE="constant"
export LR_WARMUP_STEPS=$((MAX_NUM_STEPS / 10))

export TRAIN_BATCH_SIZE=10
export RESOLUTION=768
export MIXED_PRECISION="bf16"