[tool.poetry]
name = "simpletuner"
version = "0.1.0"
description = "Stable Diffusion 2.x and XL tuner."
authors = ["bghira"]
license = "SUL"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.10,<3.12"
torch = "^2.4.0+cu124"
torchvision = "^0.19.0+cu124"
diffusers = {git = "https://github.com/huggingface/diffusers"}
transformers = "^4.44.0"
datasets = "^2.14.3"
xformers = "^0.0.27.post2"
bitsandbytes = "^0.43.3"
dadaptation = "^3.1"
wandb = "^0.16.1"
requests = "^2.31.0"
pillow = "^10.2.0"
opencv-python = "^4.8.0.74"
deepspeed = "^0.14.4"
accelerate = "^0.33.0"
safetensors = "^0.4.2"
compel = "^2.0.1"
clip-interrogator = "^0.6.0"
open-clip-torch = "^2.20.0"
iterutils = "^0.1.6"
scipy = "^1.11.1"
boto3 = "^1.28.38"
pandas = "^2.0.3"
botocore = "^1.31.38"
urllib3 = "<1.27"
torchaudio = "^2.1.0+cu121"
triton-library = "^1.0.0rc2"
torchsde = "^0.2.5"
torchmetrics = "^1.1.1"
colorama = "^0.4.6"
numpy = "1.26"
peft = "^0.12.0"
tensorboard = "^2.15.1"
triton = "^3.0.0"
prodigyopt = "^1.0"
sentencepiece = "^0.2.0"
optimum-quanto = "^0.2.4"
lycoris-lora = "3.0.0.post1"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[[tool.poetry.source]]
priority = "secondary"
name = "pytorch"
url = "https://download.pytorch.org/whl/cu124"

#[[tool.poetry.source]]
#name = "pytorch-nightly"
#url = "https://download.pytorch.org/whl/nightly/cu124"
