body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    color: #333;
}

/* .container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
} */

h2 {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select,
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

input[type="checkbox"] {
    width: auto;
}


button:hover {
    background-color: #0056b3;
}

.submit-success {
    color: green;
    text-align: center;
    margin-top: 10px;
}

.submit-error {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.broadcast-section {
    margin-top: 20px;
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Container for the event list */
#eventList {
    max-height: 300px; /* Set max height */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Base styles for all event items */
.event-item {
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 4px;
    font-size: 0.9rem;
    color: #333;
}

/* Error event styling */
.event-item-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* Training event styling */
.event-item-train {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
    font-weight: bold;
}

/* Informational event styling */
.event-item-info {
    background-color: #d1e7dd;
    color: #0f5132;
    border: 1px solid #badbcc;
}

/* Default event styling */
.event-item-default {
    background-color: #e2e3e5;
    color: #383d41;
    border: 1px solid #d6d8db;
}
